@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* (
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
)

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

}

html {
    font-size:62.5%;
    overflow-x: hidden;
}
body {
    background: #1f242d;

}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}
a {
    color: #fff;
    text-decoration: none;

}

.navbar {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    padding: 25px 9%;
    background: slateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
    
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;

}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;

}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

.home-info h1 {
    font-size:55px;

}

.home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
    background: slateblue;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    25%,
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid;
    color:#7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text{
    10%,
    100%{ width:0;}
}
    70%,
    90% {
        width: 100%
    }

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display:inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left:20px;

}

span {
    color: var(--main-color);
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
}

.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.social-media a {
    display: inline-flex;
    justify-content:center;
    align-items: center;
    width:4rem;
    height: 4rem;
    background: transparent;
    border: 2rem solid var();
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var (--main-color);
}

.home-img .img-box{
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
}

.home-img .img-box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#7cf03d);
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: slateblue;
    border: .1px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    border: 2px solid red;
    transform: translate(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s*var(--1));
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width : 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size:2.6rem ;

}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30remm;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border color: var(--main-color) ;
    transform:scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: #0ef;
}

.services-box h3{
    font-size: 2.6rem;   
}

.services-box p {
    font-size: 1.5rem;
    margin:1rem 0 3rem ;
}
@keyframes show-bars {
    100% { 
        transform: translate(0%);
    }
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container  .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow:0 0 1rem var(--bg-color);
    overflow:hidden;
    display: flex;
}

.portfolio-box img {
    width:100%;
    transition:.5s ease ;
}

.portfolio-box:hover img {
    transform: scale(1:1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translate(100%);
    transition: .5s ease;

}

.portfolio-layer h4 {
    font-size: 3rem;

}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer  a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom:3rem;

}

.contact form {
    max-width:70 rem;
    margin:1 rem auto ;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;

}

.contact form textarea {
    resize:none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor:pointer;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

@media(max-width: 1200px) {
    html {
        font-size:55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom:7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }

}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left:0;
        width: 100%;
        padding:1 rem 3%;
        background:var (--bg-color) ;
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        display: none;

    }

    .navbar-active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin:3rem  0;
    }
    .home {
        flex-direction: column;
    }
    .home-info h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top:4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-top: 4rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;

    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media  (max-width:617px) {

.portfolio-container{
    grid-template-columns: 1fr;
}
    
}